<div class="center-align">
  <br>
  <h1 class="text-white display-4">Add a New Word!</h1>
  <br>
  <div class="card shadow bg-light w-50">
    <div class="card-body">
      <form action="/words" method="post">
        <div class="form-group">
          <label for="new_word" class="card-text">New Word</label>
          <input id="new_word" name="new_word" class="form-control" type="text">
        </div>
        <button type="submit" class="btn btn-primary">Submit</button>
      </form>
    </div>
  </div>
</div>

<nav class="navbar fixed-bottom navbar-dark bg-dark text-center">
  <button type="button" class="btn btn-success">
    <a href="/words">View All Words!</a>
  </button>
</nav>